.hero__main {
    display: flex;
    padding: $general-padding;
    height: 100vh;
    .main__text {
        flex: 1;
        font-family: $body-font;
        color: $primary-color1;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        h1 {
            font-size: 2rem;
            max-width: 55%;
        }
        p {
            padding: 1rem 0;
        }
        input {
            width: fit-content;
            padding: .5rem 1rem;
            margin: 0 1rem 0 0;
            border: 1.5px solid gray;
            border-radius: .15rem;
        }
        button {
            @extend %button-primary;
            transition: background 250ms;
            &:hover {
                background-color: hsl(224, 91%, 69%);
            }
        }
    }
    .main__img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        img {
            width: 60%;
        }
    }
}
/*             INFO SECTION             */

.info {
    padding: $general-padding;
    background: url("../../images/bg-curve-desktop.svg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    .info__left {
        flex: 1;

    }
    .info__right {
        flex: 1;
        img {
            width: 100%;
        }
    }
    .info__text {
        h2 {
            padding-block: 1rem;
            font-size: 2rem;
            max-width: 100%;
            font-family: $body-font;
            color:$primary-color1;
        }
        p {
            width: 80%;
            padding: .5rem 0;
            font-family: $body-font;
            color:$primary-color1;
        }
        .info__button {
            border-bottom: 1px solid rgb(83, 83, 83);
            max-width: fit-content;
            display: flex;
            align-items: center;
            gap: .5rem;
            a {
                padding: .5rem 0;
                font-family: $body-font;
                color:$primary-color1;
                color: gray;
                transition: color 250ms;
                &:hover {
                    color: rgb(197, 197, 197);
                }
                        }
            img {
                width: 25px;
            }

        }
    }
    .info__card {
        padding: 2rem;
        p {
            font-family: $body-font;
            padding: 1rem 0rem;
            color: $primary-color1;
        }
        img {
            width: 25px;
        }
        width: 55%;
        margin-top: 3rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;        .card__bottom {
            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
            }
            display: flex;
            .bottom__text {
                padding-inline: 1rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                p {
                    padding: 0;
                }
                h4 {
                    font-family: $body-font;
                    font-weight: bold;
                }
            }
        }
    }
}


/*             promo section            */
.promo {
    padding: 1rem 15rem;
    display: flex;
    background-color:$primary-color2;
    height: 20vh;

    .promo__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        flex: 1;
        p {
            color: white;
            font-family: $body-font;
            max-width: 80%;
            padding-top: .5rem;
        }
        h3 {
            text-align: left;
            width: fit-content;
            font-size: 1.5rem;
            color: white;
            font-family: $body-font;
        }
    }
    .promo__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        justify-content: center;
        input {
            width: fit-content;
            padding: .5rem 5rem;
            margin: 0 1rem 0 0;
            border: 1.5px solid gray;
            border-radius: .15rem;
            font-family: $header-font;
        }
        button {
            margin-top: 1rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            @extend %button-primary;
            transition: background-color 250ms;
            &:hover {
                background-color: hsl(224, 91%, 69%);
            }
            
        }
    }
    
}

/*             footer           */
.footer {
    padding: $general-padding;
    background-color: $primary-color1;
    height: 100%;
    

    .footer__top {
        img {
            filter: invert(100)
            brightness(100);
        }
        
    }
    .footer__bottom {
        display: flex;
    }
    .footer__row {
        img {
            object-fit: contain;
        }
        color: $neutral-color1;
        font-family: $body-font;
        display: flex;
        flex-direction: column;
        flex: 1;
        
        >div {
            gap: 1rem;
            display: flex;
            padding: .5rem 0;
        }
        a {
            width: fit-content;
            margin: .5rem 0;
            color:$neutral-color1;
            transition: color 200ms;
            &:hover {
                color: $primary-color2;
            }
        }
        .footer__socials {
            gap: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            i {
                cursor: pointer;
                border: 1px solid white;
                border-radius: 50%;
                padding: .5rem;
                transition: color, border 200ms;
                &:hover {
                    color: $primary-color2;
                    border: 1px solid $primary-color2;
                }
            }

        }
    }
}

