@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* Extends */
.promo .promo__right button, .hero__main .main__text button {
  background-color: hsl(224deg, 93%, 58%);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.header {
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.header .header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__right .header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .header__right .header__menu a {
  font-family: "Raleway", sans-serif;
  color: hsl(243deg, 87%, 12%);
  font-size: 1rem;
  font-weight: 700;
}
.header .header__logo img {
  width: 80%;
}

.hero__main {
  display: flex;
  padding: 4rem 3rem;
  height: 100vh;
}
.hero__main .main__text {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}
.hero__main .main__text h1 {
  font-size: 2rem;
  max-width: 55%;
}
.hero__main .main__text p {
  padding: 1rem 0;
}
.hero__main .main__text input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0 1rem 0 0;
  border: 1.5px solid gray;
  border-radius: 0.15rem;
}
.hero__main .main__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.hero__main .main__img img {
  width: 60%;
}

/*             INFO SECTION             */
.info {
  padding: 4rem 3rem;
  background: url("../../images/bg-curve-desktop.svg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.info .info__left {
  flex: 1;
}
.info .info__right {
  flex: 1;
}
.info .info__right img {
  width: 100%;
}
.info .info__text h2 {
  padding-block: 1rem;
  font-size: 2rem;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
}
.info .info__text p {
  width: 80%;
  padding: 0.5rem 0;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
}
.info .info__text .info__button {
  border-bottom: 1px solid rgb(83, 83, 83);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.info .info__text .info__button a {
  padding: 0.5rem 0;
  font-family: "Open Sans", sans-serif;
  color: hsl(243deg, 87%, 12%);
  color: gray;
}
.info .info__text .info__button img {
  width: 25px;
}
.info .info__card {
  padding: 2rem;
  width: 55%;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info .info__card p {
  font-family: "Open Sans", sans-serif;
  padding: 1rem 0rem;
  color: hsl(243deg, 87%, 12%);
}
.info .info__card img {
  width: 25px;
}
.info .info__card .card__bottom {
  display: flex;
}
.info .info__card .card__bottom img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.info .info__card .card__bottom .bottom__text {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info .info__card .card__bottom .bottom__text p {
  padding: 0;
}
.info .info__card .card__bottom .bottom__text h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/*             promo section            */
.promo {
  padding: 1rem 15rem;
  display: flex;
  background-color: hsl(238deg, 22%, 44%);
  height: 20vh;
}
.promo .promo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 1;
}
.promo .promo__text p {
  color: white;
  font-family: "Open Sans", sans-serif;
  max-width: 80%;
  padding-top: 0.5rem;
}
.promo .promo__text h3 {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.promo .promo__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  justify-content: center;
}
.promo .promo__right input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 5rem;
  margin: 0 1rem 0 0;
  border: 1.5px solid gray;
  border-radius: 0.15rem;
  font-family: "Raleway", sans-serif;
}
.promo .promo__right button {
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*             footer           */
.footer {
  padding: 4rem 3rem;
  background-color: hsl(243deg, 87%, 12%);
  height: 100%;
}
.footer .footer__top img {
  filter: invert(100) brightness(100);
}
.footer .footer__bottom {
  display: flex;
}
.footer .footer__row {
  color: hsl(240deg, 75%, 98%);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer .footer__row img {
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .footer__row > div {
  gap: 1rem;
  display: flex;
  padding: 0.5rem 0;
}
.footer .footer__row a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
  color: hsl(240deg, 75%, 98%);
}
.footer .footer__row .footer__socials {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer .footer__row .footer__socials i {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

@media screen and (max-width: 485px) {
  .header {
    position: static;
    padding: 1rem;
  }
  .header .header__logo img {
    width: 70%;
  }
  .header .header__right .header__menu a {
    font-size: 0.8rem;
  }
  .hero__main {
    padding: 1rem;
    flex-direction: column-reverse;
  }
  .hero__main .main__text {
    margin-top: 1rem;
    flex: 1;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
  .hero__main .main__text h1 {
    max-width: 100%;
  }
  .hero__main .main__text input {
    display: block;
    padding: 0.5rem 5rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }
  .hero__main .main__text button {
    width: 100%;
  }
  .hero__main .main__img {
    flex: 0.5;
  }
  .hero__main .main__img img {
    width: 100%;
  }
  /*             info section             */
  .info {
    padding: 1rem;
    background: url("../../images/bg-curve-mobile.svg") no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column-reverse;
  }
  .info .info__text h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .info .info__text p {
    width: 100%;
  }
  .info .info__text .info__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .info .info__card {
    padding: 2rem;
    width: 100%;
  }
  /*             promo section            */
  .promo {
    padding: 3rem 1rem;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
  .promo .promo__text {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .promo .promo__right {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .promo .promo__right input {
    margin: 0;
    width: 80%;
  }
  .promo .promo__right button {
    width: 80%;
  }
  /*             footer           */
  .footer {
    padding: 3rem;
  }
  .footer .footer__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer__bottom .footer__row {
    padding: 1.5rem 0;
    width: 100%;
  }
  .footer .footer__bottom .footer__row .footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */